#SECRET_KEY=P7InT3r8o&
FACTURAMA_USER=user
FACTURAMA_PASS=pass
MAIL_USERNAME=email
MAIL_PASSWORD=app password
MAIL_FROM=email
MAIL_PORT=465
MAIL_SERVER=smtp.gmail.com
JWT_SECRET_KEY=secret_key
#contraseña de aplicacion: rmog gvwf mwel yznk